:root {
    --card-color: #ffffff;
}

.cards-grid {
    width: 90%;
    /* height: 35rem; */
    height: 50vw;
    margin-top: 8rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2.2fr repeat(3, 0.9fr) 0.7fr 0.7fr;
    gap: 0;
    grid-template-areas: "bsa-card js-card php-card php-card" "bsa-card js-card dotnet-card events-card" "qa-card js-card dotnet-card events-card" "qa-card js-card dotnet-card blog-card" "qa-card java-card dotnet-card blog-card" "qa-card java-card dotnet-card contacts-card";
}

.front, .back {
    padding: 16px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back {
    background-color: white;
}

.card .card-content {
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

#bsa-card {
    grid-area: bsa-card;
}

#bsa-card .front {
    transition: transform .5s;
    background-color: white;
}

#bsa-card img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#js-card .back, #bsa-card .back, #qa-card .back {
    background-color: white;
    transform: rotateY(180deg);
}

#qa-card {
    grid-area: qa-card;
}

#qa-card .front {
    background-color: #52bf77;
    color: white;
    font-size: 3rem;
}

#js-card {
    --card-color: #f7cf69;
    grid-area: js-card;
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
}

#js-card .card-content {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.rotate-card:hover .card-content {
    transform: rotateY(180deg);
}

#js-card .front {
    transition: transform .5s;
    background-color: #f7cf69;
    text-align: right;
}

#js-card .front span {
    position: absolute;
    padding: 1rem;
    bottom: 0;
    right: 0;
    font-size: 2rem;
    font-weight: bold;
}

#js-card .back {
    background-color: white;
    transform: rotateY(180deg);
}

#java-card {
    grid-area: java-card;
}

#java-card .card-content {
    overflow: hidden;
}

#java-card .front {
    background-color: #e12b4c;
    color: white;
    font-size: 2rem;
    transition: transform 0.6s;
}

#java-card:hover .front {
    transform: translateY(100%);
}

#dotnet-card {
    grid-area: dotnet-card;
}

#dotnet-card .card-content {
    overflow: hidden;
}

#dotnet-card .front {
    background-color: #642077;
    color: white;
    font-weight: bold;
    font-size: 2.3rem;
    transition: transform 0.6s;
}

#dotnet-card:hover .front {
    transform: translate(100%, 100%);
}

#php-card {
    grid-area: php-card;
}

#php-card {
    overflow: hidden;
}

#php-card .front {
    background-color: #8893c0;
    height: 100%;
    width: 100%;
    font-size: 2.3rem;
    font-style: italic;
    transition: transform 0.6s;
}

#php-card:hover .front {
    transform: translate(100%, -100%);
}

#events-card {
    grid-area: events-card;
}

#events-card .front {
    background-color: #2d99ff;
}

#blog-card {
    grid-area: blog-card;
}

#blog-card .front {
    background-color: #0443a3;
}

#contacts-card {
    grid-area: contacts-card;
}

#contacts-card .front {
    background-color: #00265f;
}

#blog-card .card-content, #events-card .card-content, #contacts-card .card-content {
    overflow: hidden;
}

#blog-card .front, #events-card .front, #contacts-card .front {
    overflow: hidden;
    font-size: 1.2rem;
    color: white;
    transition: transform 0.6s;
}

#blog-card:hover .front, #events-card:hover .front, #contacts-card:hover .front {
    transform: translateX(100%);
}

#events-card .back {
    overflow-y: scroll;
}

.fa {
    padding: 4px;
    text-decoration: none;
    text-align: center;
    color: #212121;
    transition: color 0.6s;
}

.fa:hover {
    color: #2d99ff;
}

button {
    padding: 12px 20px;
    background-color: #2d99ff;
    color: white;
    border-radius: 4px;
    outline: 0;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0443a3;
}

@media only screen and (max-width: 1000px) {
    .cards-grid {
        height: 80vw;
        display: grid;
        grid-template-columns: 1.8fr 0.2fr 0.9fr 1.1fr;
        grid-template-rows: 1fr 1fr 0.6fr 1.2fr 1.2fr;
        grid-template-areas: "bsa-card js-card js-card events-card" "bsa-card js-card js-card blog-card" "bsa-card js-card js-card contacts-card" "java-card java-card php-card php-card" "qa-card qa-card dotnet-card dotnet-card";
    }
}