:root {
    --notification-color: #8BC34A;
}

.notification-list {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    width: 15rem;
    align-items: center;
    position: fixed;
    bottom: 1rem;
    right: 2rem;
    z-index: 10;
}

.notification-card {
    background: var(--notification-color);
    width: 100%;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 0.3rem;
    color: #ffffff;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.notification-icon {
    height: 100%;
}

.notification-content {
    margin-left: 2rem;
}

.error {
    --notification-color: rgba(244, 67, 54, 0.6);
}

.error:hover {
    --notification-color: rgba(244, 67, 54, 0.75);
}

.warning {
    --notification-color: rgba(253, 216, 53, 0.6);
}

.warning:hover {
    --notification-color: rgba(253, 216, 53, 0.75);
}

.success {
    --notification-color: rgba(139, 195, 74, 0.6);
}

.success:hover {
    --notification-color: rgba(139, 195, 74, 0.75);
}

.notification-icon {
    color: #ffffff;
    float: left;
}