* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #eeeeee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.centerred {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}