:root {
    --bsa-color: #ff9a00;
    --bsa-color-hover: #ff7b00;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 3em;
    width: 100%;
    align-items: center;
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

#binary-studio {
    height: 2em;
}

.header-left, .header-right {
    width: 40%;
}

.header-right {
    height: 2.5em;
    padding-top: 0.25em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}

.header-notifications {
    color: #9e9e9e;
    margin: 0 0 1rem 1rem;
}

.header-notifications:hover {
    color: #616161;
}

header .avatar-component {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    height: 30px;
    width: 30px;
    top: -5px;
    border-radius: 15px;
    background-color: var(--bsa-color);
    transition: .3s background-color;
    cursor: pointer;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
    line-height: 30px;
}

.avatar-component:before {
    display: inline-block;
    content: 'T';
}

input:focus {
    outline: 0;
}

header .avatar-component:hover {
    background-color: var(--bsa-color-hover);
}

.dropdown-component {
    position: absolute;
    line-height: 2rem;
    width: 12rem;
    padding: 1rem;
    margin-top: 2rem;
    right: 0;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15), 0 1rem 1rem rgba(0, 0, 0, 0.13);
    background-color: white;
    display: none;
}

.dropdown-component .user-name {
    margin: 0;
    text-align: center;
    border-bottom: 2px solid rgb(173, 173, 173);
    color: rgb(173, 173, 173);
    font-weight: bold;
}

.dropdown-component ul {
    list-style: none;
    padding: 0;
    margin: 0.5rem 0 0;
}

.dropdown-component li {
    padding: 0 8px;
    cursor: pointer;
    font-weight: bold;
    transition: .3s background-color;
}

.dropdown-component li:hover {
    background-color: rgb(236, 236, 236);
}

header .avatar-component:checked+.dropdown-component {
    display: block;
}

.dropdown-component:hover {
    display: block;
}